.css-1orzy9s {
    margin-left: 58ch !important;
}

.css-1futezt-MuiTypography-root{
    display: flex !important;
    align-items: center;
}

img{
    width: 40%;
}

span{
    font-size: 12px;
    font-family: '-webkit-pictograph';
    margin-left: 5%;
}